.lightbox {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, .95);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.lightbox-content {
  max-width: 90vw;
  max-height: 90vh;
}

.lightbox-content img {
  display: block;

  max-width: 100%;
  max-height: 80vh;

  object-fit: contain;
}

.lightbox-info {
  margin-top: 20px;

  color: white;
}

.lightbox-info h2 {
  font-weight: 300;
}

.lightbox-info p {
  color: #8d8d8d;
}

.lightbox-arrow {

  position: fixed;

  top: 50%;

  transform: translateY(-50%);

  background: transparent;

  border: none;

  color: white;

  font-size: 48px;

  cursor: pointer;

  padding: 20px;

  transition: .3s;
}

.lightbox-arrow:hover{

    opacity:.6;

}

.left{

left:40px;

}

.right{

right:40px;

}